.idea/
bin/
/manifests/
/deploy/olm-catalog/**/manifests
/deploy/olm-catalog/**/metadata
/deploy/olm-catalog/**/bundle_*
bundle.Dockerfile
*.swp
*.test
coverage.txt
profile.out
test/integration_test/operator-test-pod.yaml

# IDEs
.vscode
